<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/PHOTO-2021-12-04-22-42-50.jpg" alt="" width="30" height="24"
                class="d-inline-block align-text-top">
            Graceline
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <%=   %> 
                <%if(currentUser){%> 
                    <% if(currentUser.employeeType === "Administrator") {%> 
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    <a class="nav-link" href="/addnewproduct">Add product</a>
                    <a class="nav-link" href="/inventory">Inventory</a>
                    <a class="nav-link" href="/sell">sell</a>
                    <a class="nav-link" href="/getHistory">history</a>
                    <% } else if(currentUser.employeeType === "Sales") { %> 
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    <a class="nav-link" href="/sell">sell</a>
                    <a class="nav-link" href="/getHistory">history</a>
                    <% } else if(currentUser.employeeType ==="Stocks" ) { %>
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    <a class="nav-link" href="/addnewproduct">Add product</a>
                    <a class="nav-link" href="/inventory">Inventory</a>
                    <a class="nav-link" href="/getHistory">history</a>
                        <% } %>
                    <% } %> 
        </div>
            <div class="navbar-nav " style="margin-left: auto;">

                <%if(!currentUser) {%> 
                    <a class="nav-link" href="/login">Login</a>
                <% }else {%> 
                    <% if(currentUser.employeeType==="Administrator" ) {%>
                    <a class="nav-link" href="/signup">Signup</a>
                    <% } %> 
                    <a class="nav-link" href="/logout">Logout</a>
                <% } %> 
            </div>
        </div>
    </div>
</nav>