<% layout('boilerplate/boilerplate.ejs') -%>
<form action="/addproduct" method="get">
    <div class="addproduct mb-3">
        <a href="/addnewproduct" class="btn btn-warning">add new product</a>
    </div>    
    <div class=" mb-3">
        <a href="/inventory" class="btn btn-primary">inventory</a>
    </div>
    <div class="history mb-3">
        <a href="/history" class="btn btn-primary">history</a>
    </div>
    <div class="sell mb-3">
        <a href="/sell" class="btn btn-primary">sell</a>
    </div>
</form>
